/* ?>>>>>>>>>>>>>>>Start Global styles<<<<<<<<<<<<< */

h1 {
  font-family: "Pacifico", "cursive";
}
h2 {
  font-family: "Righteous", "cursive";
}
body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: rgba(103, 103, 197, 0.685);
}

:root {
  --defult-transition: 500ms;
}



/* ^####uitilets class */
.w-fit {
  width: fit-content;
}



/* ?>>>>>>>>>>>>>>>End Global styles<<<<<<<<<<<<< */

.bookmarker h1 {
  margin-bottom: 60px;
}

.bookmarker .form h2 {
  background-image: linear-gradient(to right, rgb(2, 2, 156), red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bookmarker h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  background-color: #9575CD; 
  bottom: 3px;
  z-index: -1;
  transition: height var(--defult-transition);
}

.bookmarker h1:hover::before {
  height: 70%;
  background-color: #7E57C2; 
}

.bookmarker .form {
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  letter-spacing: 0.5px;
}

.form-control:focus {
  box-shadow: none;
  border-color: blue;
  box-shadow: 0 0 0 0.25rem #4768fa67;
  outline: none;
}

.form .btn1,.form .btn2
 {
  background-color: #5E35B1; 
  color: white;
  letter-spacing: 1px;
  font-family: "Righteous", "cursive";
  padding-inline: 50px;
  transition: var(--defult-transition);
  border: none;
}

.form .btn1:hover , .form .btn2:hover{
  background-color: #4527A0; 
}




.bookmarker .table .btn-visit {
  background-color: #5E35B1; 
  color: white;
}

.bookmarker .table .btn-visit:hover {
  background-color: #4527A0; 
}

.bookmarker .table .btn-visit:active {
  background-color: white;
  color: black;
}

.bookmarker .table .btn-delete {
  background-color: #E53935; 
  color: white;
}

.bookmarker .table .btn-delete:hover {
  background-color: #C62828; 
}

.bookmarker .table .btn-update {
  background-color: #43A047; 
  color: white;
}

.bookmarker .table .btn-update:hover {
  background-color: #2E7D32; 
}



.table th {
  font-family: "Righteous", "cursive";

  font-weight: 500;
}

.table td {
  font-family: "Righteous", "cursive";
  font-weight: 400;
}


#toggleModeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1000;
  transition: color 0.3s ease;
}


body:not(.dark-mode) #toggleModeBtn {
  color: #9575CD;
}


body.dark-mode #toggleModeBtn {
  color: #ffffff;
}






@media (max-width: 768px) {
  .table {
    font-size: 0.8em;
  }
  .bookmarker .table .btn-delete {
    font-size: 10px;
  }

  .bookmarker .table .btn-visit {
    font-size: 10px;
  }
  .bookmarker .table .btn-update {
    font-size: 10px;
  }
}
